html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  display: block;
  position: relative;
}

.banner-content {
  float: right;
  float: left;
  padding: 0 1rem 0 0;
  padding-top: 2em;
  bottom: 1rem;
  left: 50%;
  position: absolute;
  max-width: 20em;
  transform: translateX(-50%);
  width: 100%;
  margin: 1em 1em .5em;
}

.btn-big {
  position: absolute;
  max-width: 50em;
  top: 3rem;
}

h2 {
  font-size: 3rem;
  margin: 0;
  line-height: 1.3em;
}

p {
  font-size: 1.5rem;
  margin: 0 0 1em;
}

.btn {
  color: #fff;
  background-color: darkgrey;
  padding: 1em;
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover {
  background-color: black;
}
